
	$blue: #5847eb;
	/* Work */
	$light-orange: #ff8c66;
	/* Play */
	$soft-blue: #56c2e6;
	/* Study */
	$light-red: #ff5c7c;
	/* Exercise */
	$lime-green: #4acf81;
	/* Social */
	$violet: #7536d3;
	/* Self Care */
	$soft-yellow: #f1c65b;

	$very-dark-blue: #0f1424;
	$dark-blue: #1c1f4a;
	$desaturated-blue: #6f76c8;
	$hover-blue:#3c4679;
	$pale-blue: #bdc1ff;
